.login-Component{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-Container{
    height: 70%;
    width: 30%;
    border:  1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-Area{
    width: 90%;
    height: 90%;
}
.logo{
    height: 50px;
    display: flex;
    justify-content: center;
}

.f{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
.u{
    color: red;
    font-size: 30px;
    font-weight: bold;
}
.n{
    color: yellow;
    font-size: 30px;
    font-weight: bold;
}
.d{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
.o{
    color: red;
    font-size: 30px;
    font-weight: bold;
}
.o2{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
.loginText{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.useGoogle{
    text-align: center;
}
.inputArea{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
}
.input{
    height: 40px;
    border-radius: 5px;
}
.forgot{
    padding-top: 5px;
}
.logindiv{
    display: flex;
    justify-content: space-between;
}
.loginButton{
    height:  30px;
    width: 60px;
    color: white;
    background-color: rgb(76, 76, 223);
}

@media (min-width: 600px) and (max-width: 1100px){
    .login-Container{
        height: 70%;
        width:  60%;
    }
 }

@media(max-width: 500px) {
    .login-Container{
        height: 100%;
        width: 100%;
    }    
    .form-Area{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    .logo{
        padding-top: 100px;
    }
  }
